In [22]:
import os
import glob
import pandas as pd
os. getcwd()
#os.chdir('JC-data')

'C:\\Users\\hengelbrecht\\CodingBootcamp\\uofa-phx-data-pt-02-2020-u-c\\tableau-challenge\\JC-data'

In [27]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [28]:
print(all_filenames)

['JC-201801-citibike-tripdata.csv', 'JC-201802-citibike-tripdata.csv', 'JC-201803-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-201806-citibike-tripdata.csv', 'JC-201807-citibike-tripdata.csv', 'JC-201808-citibike-tripdata.csv', 'JC-201809-citibike-tripdata.csv', 'JC-201810-citibike-tripdata.csv', 'JC-201811-citibike-tripdata.csv', 'JC-201812-citibike-tripdata.csv']

In [29]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [30]:
data_to_load = "combined_csv.csv"
bike_data_df = pd.read_csv(data_to_load)

In [31]:
bike_data_df = bike_data_df.rename(columns={'gender': 'gender_id'})

In [32]:
bike_data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender_id
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353887,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
353888,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
353889,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
353890,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
353891,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [33]:
gender_df = pd.DataFrame({'gender_id': [0,1,2],
                         'gender': ['unknown', 'male', 'female']})
gender_df

   gender_id   gender
0          0  unknown
1          1     male
2          2   female

In [34]:
citibike_data = pd.merge(bike_data_df, gender_df, on=["gender_id", "gender_id"])
citibike_data = citibike_data.drop(columns = ["gender_id"])
citibike_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,male
1,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,male
2,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,male
3,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,male
4,613,2018-01-01 22:05:05.8740,2018-01-01 22:15:19.4190,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353887,1100,2018-12-12 21:29:45.0260,2018-12-12 21:48:05.2900,3681,Grand St,40.715178,-74.037683,3638,Washington St,40.724294,-74.035483,26276,Customer,1969,unknown
353888,1053,2018-12-12 21:30:22.4830,2018-12-12 21:47:55.5490,3681,Grand St,40.715178,-74.037683,3638,Washington St,40.724294,-74.035483,26298,Customer,1969,unknown
353889,1068,2018-12-30 14:16:04.1470,2018-12-30 14:33:52.1950,3681,Grand St,40.715178,-74.037683,3192,Liberty Light Rail,40.711242,-74.055701,29447,Customer,1969,unknown
353890,1035,2018-12-30 14:16:40.0730,2018-12-30 14:33:56.0630,3681,Grand St,40.715178,-74.037683,3192,Liberty Light Rail,40.711242,-74.055701,29465,Customer,1969,unknown
353891,119,2018-12-31 14:00:03.2350,2018-12-31 14:02:02.4630,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29484,Subscriber,1981,unknown

In [36]:
citibike_data['starttime'] = pd.to_datetime(citibike_data['starttime'])
citibike_data['stoptime'] = pd.to_datetime(citibike_data['stoptime'])

In [41]:
citibike_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.541,2018-01-01 02:21:50.027,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,male
1,510,2018-01-01 12:06:56.978,2018-01-01 12:15:27.810,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,male
2,354,2018-01-01 14:53:10.186,2018-01-01 14:59:05.096,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,male
3,250,2018-01-01 17:34:30.192,2018-01-01 17:38:40.984,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,male
4,613,2018-01-01 22:05:05.874,2018-01-01 22:15:19.419,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353887,1100,2018-12-12 21:29:45.026,2018-12-12 21:48:05.290,3681,Grand St,40.715178,-74.037683,3638,Washington St,40.724294,-74.035483,26276,Customer,1969,unknown
353888,1053,2018-12-12 21:30:22.483,2018-12-12 21:47:55.549,3681,Grand St,40.715178,-74.037683,3638,Washington St,40.724294,-74.035483,26298,Customer,1969,unknown
353889,1068,2018-12-30 14:16:04.147,2018-12-30 14:33:52.195,3681,Grand St,40.715178,-74.037683,3192,Liberty Light Rail,40.711242,-74.055701,29447,Customer,1969,unknown
353890,1035,2018-12-30 14:16:40.073,2018-12-30 14:33:56.063,3681,Grand St,40.715178,-74.037683,3192,Liberty Light Rail,40.711242,-74.055701,29465,Customer,1969,unknown
353891,119,2018-12-31 14:00:03.235,2018-12-31 14:02:02.463,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29484,Subscriber,1981,unknown

In [50]:
stations = citibike_data['start station name'].unique()

In [48]:
months_start = citibike_data.groupby(['start station name', pd.Grouper(key='starttime', freq='M')]).count()
months_stop = citibike_data.groupby(['end station name', pd.Grouper(key='stoptime', freq='M')]).count()

In [49]:
months_stop

                             tripduration  starttime  start station id  \
end station name stoptime
11 Ave & W 41 St 2018-07-31             2          2                 2
12 Ave & W 40 St 2018-01-31             1          1                 1
                 2018-04-30             2          2                 2
                 2018-05-31             2          2                 2
                 2018-06-30             2          2                 2
...                                   ...        ...               ...
York St          2018-08-31           355        355               355
                 2018-09-30           370        370               370
                 2018-10-31           365        365               365
                 2018-11-30           201        201               201
                 2018-12-31           192        192               192

                             start station name  start station latitude  \
end station name stoptime
11 Ave & W 41 St 2018-07-31                   2                       2
12 Ave & W 40 St 2018-01-31                   1                       1
                 2018-04-30                   2                       2
                 2018-05-31                   2                       2
                 2018-06-30                   2                       2
...                                         ...                     ...
York St          2018-08-31                 355                     355
                 2018-09-30                 370                     370
                 2018-10-31                 365                     365
                 2018-11-30                 201                     201
                 2018-12-31                 192                     192

                             start station longitude  end station id  \
end station name stoptime
11 Ave & W 41 St 2018-07-31                        2               2
12 Ave & W 40 St 2018-01-31                        1               1
                 2018-04-30                        2               2
                 2018-05-31                        2               2
                 2018-06-30                        2               2
...                                              ...             ...
York St          2018-08-31                      355             355
                 2018-09-30                      370             370
                 2018-10-31                      365             365
                 2018-11-30                      201             201
                 2018-12-31                      192             192

                             end station latitude  end station longitude  \
end station name stoptime
11 Ave & W 41 St 2018-07-31                     2                      2
12 Ave & W 40 St 2018-01-31                     1                      1
                 2018-04-30                     2                      2
                 2018-05-31                     2                      2
                 2018-06-30                     2                      2
...                                           ...                    ...
York St          2018-08-31                   355                    355
                 2018-09-30                   370                    370
                 2018-10-31                   365                    365
                 2018-11-30                   201                    201
                 2018-12-31                   192                    192

                             bikeid  usertype  birth year  gender
end station name stoptime
11 Ave & W 41 St 2018-07-31       2         2           2       2
12 Ave & W 40 St 2018-01-31       1         1           1       1
                 2018-04-30       2         2           2       2
                 2018-05-31       2         2           2       2
                 2018-06-30       2         2           2       2
...                             ...       ...         ...     ...
York St          2018-08-31     355       355         355     355
                 2018-09-30     370       370         370     370
                 2018-10-31     365       365         365     365
                 2018-11-30     201       201         201     201
                 2018-12-31     192       192         192     192

[727 rows x 13 columns]

In [13]:
# for i in dec_sample_data['gender']:
#     if i == 1:
#         dec_sample_data.at[i, 'gender'] = "male"
#     elif i == 2:
#         dec_sample_data.at[i, 'gender'] = "female"
#     elif i == 0:
#         dec_sample_data.at[i, 'gender'] = "unknown"
# dec_sample_data['gender'] = dec_sample_data['gender'].astype(str)

In [16]:
# for i in dec_sample_data['gender']:
#     if i == 1:
#         dec_sample_data.at[i, 'gender'] = "male"
#     elif i == 2:
#         dec_sample_data.at[i, 'gender'] = "female"
#     elif i == 0:
#         dec_sample_data.at[i, 'gender'] = "unknown"